<div class="products-container">
  <div class="action">
    <div class="input-search">
      <i class="fas fa-search"></i>
      <input type="text" [(ngModel)]="searchText"  placeholder="Search by name">
    </div>

    <div class="sort-order">
      <span>Sort by</span>
      <select class="sortBy" [(ngModel)]="sortBy">
        <option *ngFor="let sort of sortValues" [ngValue]="sort.value">{{sort.label}}</option>
      </select>
    </div>
  </div>

  <div class="cards">
    <div *ngFor="let product of products | searchFilter : searchText | sort : sortBy" (click)="openDialog(product)">
      <app-product
      [product]="product"
      ></app-product>
    </div>
  </div>
</div>

