.products-container {
 background-color: #141417;
}

.cards {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: 200px 0;
  width: 75%;
  flex-wrap: wrap;
  left: 188px;
}

.action {
  position: relative;
  top: 180px;
  display: flex;
  justify-content: space-between;
  margin: 0 350px 0  250px
}

.sort-order {
  min-width: 250px;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  span {
    text-align: center;
    margin-right: 8px;
  }

  .sortBy {
    min-width: 150px;
    border: 1px solid #5a4c01;
    border-radius: 5px;
    margin-left: 10px;
  }
}


.input-search input {
  padding: 8px 25px;
  background-color: #090A0A;
  color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #5a4c01;
}

.input-search i {
  position: absolute;
  padding: 10px 5px 0 5px;
  color: #FFFFFF;
}

@media (max-width: 960px) {
  .cards {
    left: 100px;
  }

}

@media (max-width: 1290px) {
  .action {
    margin: 0 250px 0  250px;
  }
}

