footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: #090A0A;
  opacity: 0.95;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  z-index: 1;

  .icons {
    display: flex;
    font-size: 30px;

    i{
      width: 30px;
    }
  }
}

@media (max-width: 960px) {
  footer {
    z-index: 0;
  }
}
